body{
  margin: 0;
  
  /*display: flex;
  justify-content: center;*/
}


.title{
  font-family:'Archivo Black', sans-serif;
  font-size: 3.8rem;
}

.subtitle{
  font-family: 'Archivo Black', sans-serif;
  font-size:2.5rem;
}


.fas{
  color: black;
}

.h2s{
  font-family: 'Archivo Black', sans-serif;
  font-size:2.5rem;
  font-weight: 1000px;
  padding: 20px;
}

p{
  font-family: 'Source Sans Pro' , sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0;
  
}


.mainparent{
  background-color: rgb(31, 27, 27);
  color: #eee;
  /*min-width: fit-content;*/
}

.parent{
  display: flex;
  justify-content: center;  
}

.logo{
  color: #000;
  background-color: cornflowerblue;
  text-align: center;
  padding: 12px;
  margin-top: 60px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 3px solid #eee;
  
}

.head{    
  margin-left: 10px;
  margin-top: 50px;     
}

.brandname{
  font-family: 'Archivo Black', sans-serif;
  font-size: 70px;
  color: orangered;
  margin-bottom: 0;
  line-height: 1;
  
}


.lower{
  color: #eee;
  font-size: 15px;
  margin-top: 0;
  padding-left: 8px;

}


.content-1 {
  margin: 40px 40px 0 40px;
  color: #eee; 
}

.firstlogos{
  margin-top: 50px;
  color: black;
}

.redlogo{
  color: red;
}

.first{
  text-align: center;
  /*width: 50%;*/
  background-color: orange;
  
}

.second{
  text-align: center;
  height: auto;
 /* width: 50%;*/
  background-color: skyblue;
 
}

.firstcontent{
  padding: 20px 20px 20px 20px;
}

.firstcontent h1{
  font-family:'Archivo Black', sans-serif;
  font-size: 3.8rem;
  margin-bottom: 0;
  line-height: 1;
}
.a,.b{
  margin-top: 10px;
}

.firstcontent h2{
  font-family:'Archivo Black', sans-serif;
  font-size: 2.5rem;
}

.secondcontent{
  padding: 10px 20px 20px 20px;
}

.lh{
  line-height: 0.8;
}


/*content-2*/

.content-2{
  margin: 40px 40px 0 40px;
}

.rows2{
  background-color: orangered;
}

.content-2icons{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.z{
  text-align: center;
}
.smoke{
  margin-right: 65px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.hand{
  margin: 10px 60px 15px 0;
  margin-right: 80px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.drink{
  margin: 10px 60px 15px 5px;
  margin-right: 80px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.p2{
  padding: 0 20px 20px 20px;
}

/*content-3 */

.content-3{
  margin: 40px 40px 0 40px;
}   

.rows3{
  background-color: skyblue;
}

.risk{
  display: flex;
}

.h2ss{
  padding-right: 0;
  padding-left: 15px;
}

.shieldicon{
  margin-top: 18px;
  margin-left: 15px;
}

.p3-1{
  padding-left: 15px;
  padding-right: 5PX;
}
.p3-2{
  padding: 0 5px 15px 15px;  
}
.p3-3{
  margin-top: 94px;
  padding-right: 15px;
}
.p3-4{
  padding-right: 15px;
}


/*content-4 */

.content-4{
  margin: 40px 40px 0 40px;   
}

.fries{
  background-color: orangered;
  text-align: center;
}

.juice{
  background-color: orange;
  text-align: center;
}

.glasses{
  padding-top: 20px;
  margin-top: 40px;
}

.p4,.p7{
  margin-bottom: 5px;
}

.h-4s{
  margin-bottom: 4px;
  padding-bottom: 0;
}

.h1-4s{
  font-family:'Archivo Black', sans-serif;
  font-size: 4.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1;
}

.burger{
  margin-top: 30px;
  margin-bottom: 50px;
}
/*content-5*/

.content-5{
  margin: 40px 40px 0 40px;     
}

.rows5{
  background-color: skyblue;
}

.h1-5s,.h1-6s{
  font-family:'Archivo Black', sans-serif;
  font-size: 3.8rem;
  line-height: 1;
  padding: 30px 0 10px 20px;
  margin-bottom: 0;
}

.p5,.p6{ 
  margin-bottom: 20px;
  padding-left: 25px;
}

.tvicon,.cycleicon{
  text-align: center;
  margin-bottom: 15px;
}

.bike{
  transform: rotate(-25deg);
  padding-bottom: 40px;
  padding-right: 60px;
}

/*.discount{
  text-align: center;
}*/


/*content -6*/

.content-6{
  margin: 40px 40px 0 40px; 
}

.rows6{
  background-color: orange;
}

/*content-7*/

.content-7{
  margin: 40px 40px 0 40px; 
}

.cost{
  background-color: skyblue;
  text-align: center;
}

.physical{
  background-color: orangered;
  text-align: center;
}

.h1-7s{
  font-family:'Archivo Black', sans-serif;
  font-size: 3.8rem;
  line-height: 1;
  padding: 30px 0 0 20px;
}
.h2-7s{
  font-family:'Archivo Black', sans-serif;
  font-size: 3.8rem;
  margin-bottom: 10px;
}

.dollar{
  padding-top: 50px;
  padding-bottom: 15px;
}

.p7last{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.lastdiv{
  height: 70px;
  width: 70px;
  
}